.pag-btn {
  justify-content: center !important;
}

.paginationItemStyle {
  margin-left: 5px;
  .page-link {
    color: #89bb7a;
    background-color: #fff;
  }
  //   &.page-item {
  //     &.active {
  //       button {
  //         background-color: green;
  //         border-color: green;
  //       }
  //     }
  //   }
}
